
@media (max-width: 700px){
     .items{
        min-width: 45vw;
    }
  
}

@media (max-width: 450px){
     .items{
        min-width: 90vw;
    }
   
    .arrow-icon{
        align-self: center;
    }
    .next-prev {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    
}

